{% extends 'base.html' %}
{% load static %}

{% block header %}
  <div class="login_logo">
    <a href="{% url 'main:home' %}">
      <img class="logo" src="{% static 'assets/main/logo.png' %}">
    </a>
  </div>
{% endblock %}

{% block main %}
<link rel="stylesheet" href="{% static 'accounts/login.css' %}">

<div class="login_container">
  <h1> Log in </h1>
  <form class="login_form" action="" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input class="login_button" type="submit" value="Log in"></p>
    <input type="hidden" name="name" value="{{ next }}">
  </form>
  <div class="password_reset">
    <p><a href="{% url 'accounts:login' %}"> I forgot my password </a></p>
  </div>
</div>


<div class="sign_up">
  <p> Don't have an account?</p>
  <p> <a href="{% url 'accounts:login' %}"> Sign up for free! </a></p>
</div>

{% endblock %}
