{% extends 'base.html' %}

{% load static %}
{% load cloudinary %}


{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'css/furniture/detail.css' %}">


<section class="container">
	<div> 
	<h1 class="text-center">{{ item.about }}</h1>

	<div>
		<img src="{{ item.picture.image.url }}">
		<br>

		<div class="highlights">
			<p>{{ item.category }}</p>
			<p>{{ item.seller }}</p>
			<p>{{ item.amount }}</p>
			<p>{{ item.material }}</p>
		</div>

		<br>
		<h2> Description: </h2>
		<p>{{ item.description }}</p>
		<br>
		<h2> Specifications: </h2>
		<p>{{ item.specifications }}</p>
		<br>
		<p><h2> Posted on: </h2>{{ item.created }}</p>
	</div>

	<br>
</div>	
</section>


{% endblock %}
