{% extends 'base.html' %}

{% load static %}
{% load cloudinary %}


<!-- FURNITURES HOME PAGE -->

{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'css/furniture/index.css' %}">

<h1 class="text-center"> Browse all our Furniture Catalogue </h1>

<section class="search">

</section>

<section id="container">

	<div class="furnitures">
		<div class="furniture-items">
			{% for item in furniture %}
			<a href="{% url 'main:furniture_detail' item.pk %}">
				<div class="furniture-info">
					<img src="{{ item.picture.image.url }}">
					<p class="about">{{ item.about }}</p>
					<p>{{ item.category }}</p>
					<p class="price"> {{ item.amount }}</p>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>

</section>

{% endblock %}
