{% extends 'base.html' %}

{% load static %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main/index.css' %}">

<section class="banner">
	<div class="slider">
		<img src="{% static 'assets/main/banner.jpg' %}">
	</div>
</section>

<section class="container">
	<a href=""><h1 class="text-center"> Shop by Category </h1> </a>

	<div class="category">
		<div class="category-items"> 
			<a href="/furniture/categories/beds/">
				<div class="category-item-1">
					<img src="{% static 'assets/main/bed.png' %}">
					<p> Beds </p>
				</div>
			</a>

			<a href="/furniture/categories/sofas-couches/">
				<div class="category-item-1">
					<img src="{% static 'assets/main/sofa.png' %}">
					<p> Sofas & Couches </p>
				</div>
			</a>

			<a href="/furniture/categories/wardrobes/">
				<div class="category-item-1">
					<img src="{% static 'assets/main/wardrobes.png' %}">
					<p> Wardrobes </p>
				</div>
			</a>

			<a href="/furniture/categories/cabinets/">
				<div class="category-item-1">
					<img src="{% static 'assets/main/cabinets.png' %}">
					<p> Cabinets </p>
				</div>
			</a>

			<a href="/furniture/categories/chairs/">
				<div class="category-item-1">
					<img src="{% static 'assets/main/chairs.png' %}">
					<p> Chairs </p>
				</div>
			</a>

			<a href="/furniture/categories/tv-cabinets/">
				<div class="category-item-1">
					<img src="{% static 'assets/main/tv stand.png' %}">
					<p> TV Cabinets </p>
				</div>
			</a>
	
		</div>
	</div>

	<section>
		<h1 class="text-center"> Why you should choose us.</h1>
	</section>

	<section class="promo">
		<div class="sellers">
			<img src="{% static 'assets/main/sellers.png' %}">
		</div>
		<div class="buyers">
			<img src="{% static 'assets/main/buyers.png' %}">
		</div>
	</section>


	<section class="ads">
		<div class="ad-center">
			<h1> Want you sell Your Masterpiece? </h1>
			<p> Start Selling Now on HammerList.com  for free.</p>
			<a href="{% url 'home:ads' %}"><img class="ad-image" src="{% static 'assets/main/ad.png' %}"></a>
		</div>	
	</section>

</section>
{% endblock %}
