:root {
	--primary-color: #8A2387;
	--mid-color: #E94057;
	--secondary-color: #F27121;
}

.text-center {
	text-align: center;
	color: var(--mid-color);
	margin-top: 3rem;
	font-weight: bold;
	font-size: 2rem;
}

.banner {
	height: 83vh;
	overflow: hidden;
}



/* categories */
.category-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 3rem;
	align-items: center;
	justify-content: center;
}

.category-items div {
	margin-top: 3rem;
	padding: 0 2rem 0 2rem;
	border-radius: 10px;
	background: var(--primary-color);
}

.category-items div img:hover {
	transform: translateY(-0.5em);
}


.category-items a div p {
	color: white;
	text-align: center;
}


/* Ads */
.ads {

}

.container .ad-center  {
	text-align: center;
	margin-top: 3rem;
	font-size: 1.2rem;
}

.container .ad-image {
	margin-top: 2rem;
	width: 220px;
	height: 50px;
}

.container .ad-image:hover {
	transform: translateY(-.5em);
}

.promo {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 3rem;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
}

.promo .sellers img, .buyers img {
	border-radius: 10px;
}