* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-size: 16px;
}

:root {
	--primary-color: #8A2387;
	--mid-color: #E94057;
	--secondary-color: #F27121;
	--background-color: #fbf4fd;
}

body {
	font-family: Heebo, 'Sans-serif';
	line-height: 1.6;
	font-size:1.3rem;
	background-color: var(--background-color);
}

#base_container {
	width: 80%;
	margin: auto;
	margin-top: 3rem;
	background-color: #ffffff;
	padding: 1rem;
}

img {
	width: 100%;
}

ul {
	list-style: none;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

.container {
	max-width: 1100px;
	margin: auto;
	padding: 0 2rem;
	overflow: hidden;
}

.text-center {
	text-align: center;
	color: var(--mid-color);
	margin: 3rem;
	font-weight: bold;
	font-size: 3rem;
}

/* footer */
.footer {
	margin-top: 3rem;
	background: #8A2387;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer div p {
	padding: 3rem;
	color: white;
	text-align: center;
	height: 30vh;
}

@media (max-width: 480px) {
	.text-center {
		margin: 1rem;
		font-size: 2rem;
	}
}
