:root {
	--primary-color: #8A2387;
	--mid-color: #E94057;
	--secondary-color: #F27121;
}

/* Header */
.nav {
	color: var(--primary-color);
	font-family: Heebo, 'Sans-serif';
}

.navbar {
	font-size: 1.2rem;
	padding: 0.3rem 0 0.3rem 0;
	background-color: #ffffff;
}

.navbar .container .logo {
	width: 145px;
	height: 30px;
}

.navbar .container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.navbar .nav {
	justify-self: flex-end;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar .nav a {
	padding: 0 1rem;
}

.navbar .nav a:hover {
	color: var(--mid-color);
}

#post_ad {
	background-color: var(--primary-color);
	font-weight: bold;
	border-radius: 7px;
}

#post_ad a {
		color: white;
}

@media (max-width: 480px) {

	.container {
		width: 95%;
		margin: auto;
		padding: 0;
	}

	.navbar .container .logo {
		width: 110px;
		height: 16px;
	}

	.navbar {
		font-size: 1rem;
		padding: 0.3rem 0 0.3rem 0;
	}
}
