{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> HammerList.com &#9996 </title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base/headers.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>

{% block header %}
<nav class="navbar">
	<div class="container">
		<a href="{% url 'home:home' %}"><img class="logo" src="{% static 'assets/main/hammerlist logo.png' %}"></a>

		<ul class="nav">
			<li> <a href="{% url 'home:home' %}"> Home </a></li>
			<li> <a href="{% url 'home:furniture' %}"> Furniture </a> </li>
			<li> <a href="{% url 'home:category' %}"> Categories </a> </li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
<section class="footer">
	<div class="gradient"> 
		<p>Coded with Passion by <a href="https://github.com/Virux" target="_blank">StarLet</a></p>
	</div>
</section>
{% endblock %}
</body>
</html>