{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Hammerfy.com  </title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base/headers.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>

{% block header %}
<nav class="navbar">
	<div class="container">
		<a href="{% url 'main:home' %}"><img class="logo" src="{% static 'assets/main/logo.png' %}"></a>

		<ul class="nav">
			{% if request.user.is_authenticated %}
				<li> <a href="{% url 'main:furniture' %}"> Furniture </a> </li>
				<li> <a href="{% url 'accounts:dashboard' %}"> My Account </a></li>
				<li> <a href="{% url 'main:dev_desks' %}"> Dev Desks </a></li>
				<!-- <li> <a href="{% url 'main:category' %}"> Categories </a> </li> -->
				<li id="post_ad"> <a href="{% url 'main:create_ad' %}"> Post Ad </a> </li>
			{% else %}
				<li> <a href="{% url 'main:furniture' %}"> Furniture </a> </li>
				<li> <a href="{% url 'main:dev_desks' %}"> Dev Desks </a></li>
				<li> <a href="{% url 'accounts:login' %}"> Log in </a></li>
				<!-- <li> <a href="{% url 'main:category' %}"> Categories </a> </li> -->
				<li id="post_ad"> <a href="{% url 'main:create_ad' %}"> Post Ad </a> </li>
			{% endif %}
		</ul>
	</div>
</nav>
{% endblock %}

{% block banner %}
{% endblock %}

<div id="base_container">
	{% block main %}

	{% endblock %}
</div>


{% block footer %}
<section class="footer">
	<div class="gradient">
		<p>Coded with Passion by <a href="https://github.com/Virux" target="_blank">StarLet</a></p>
	</div>
</section>
{% endblock %}
</body>
</html>
