:root {
	--primary-color: #8A2387;
	--mid-color: #E94057;
	--secondary-color: #F27121;
}

.text-center {
	text-align: center;
	color: var(--mid-color);
	margin: 3rem;
	font-weight: bold;
	font-size: 3rem;
}

#container {
	width: 80%;
	margin: auto;
	border: 1px solid var(--primary-color);
	border-radius: 10px;
	padding: 1rem;
}

/* furnitures */
.furnitures .furniture-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 2rem;
	align-items: center;
	justify-content: center;
}

.furniture-items div {
	color: black;
}

.furniture-items .furniture-info p {
	font-size: 1rem;
	padding-right: 1rem;
}

.furniture-items .furniture-info .about {
	font-weight: bolder;
}

.furniture-items .furniture-info .price {
	font-size: 1.2rem;
	color: var(--primary-color);
}